<settings>
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>hippo2.op.fi</host>
            <port>8080</port>
            <nonProxyHosts>.cluster.local,.okobank.net,.op.fi,172.30.49.114,OPPIS176104.kehi.okobank.net</nonProxyHosts>
        </proxy>
        <proxy>
            <active>true</active>
            <protocol>https</protocol>
            <host>hippo2.op.fi</host>
            <port>8080</port>
            <nonProxyHosts>.cluster.local,.okobank.net,.op.fi,172.30.49.114,OPPIS176104.kehi.okobank.net</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
